<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <img src="{{userData.img_url}}" class="img-responsive img-circle" />
  </div>
</div>
<br />
<div class="row">
  <h3>{{userData.name}}</h3>
</div>
<div class="row">
  <small>{{userData.description}}</small>
</div>
<br />
<div class="row">
  <div class="col-md-3">
    <button type="button" class="btn btn-link btn-sm">Posts</button>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-1">
    <p id="numberss">{{postNumber}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <button type="button" class="btn btn-link btn-sm">Messages</button>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-1">
    <p id="numberss">{{messageNumber}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <button type="button" class="btn btn-link btn-sm">Likes</button>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-1">
    <p id="numberss">{{userData.likes}}</p>
  </div>
</div>
<br />